* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-color: #0f084b;
    color: white;
}

main{
    height: 98vh;
    width: 348.8px;
    border: 1px solid #ff707e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    background-color: #0f084b;
    margin-top: 5px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.pantalla{
    height: 30%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-top: .7rem;

}
.pantalla .inputs{
    height: 60%;
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
}

.pantalla .result{
    height: 40%;
    width: 100%;
    color: #00f2bd;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: right;
    
}

.buttons{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 6px;
    margin-bottom: 2px;
}
.buttons .column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid black ;
    background-color: cadetblue;*/
}

.button{
    border: 1px solid #ff707e;
    display: flex;
    width: 100%;
    /*max-width: 87.1px;
    max-height: 87.1px;
    min-width: 87.1px;
    min-height: 87.1px;
    */
    font-size: 40px;
    justify-content: center;
    align-items: center;
    color: #ff707e;
    border-radius: 5%;
    margin: 2px;
}
