* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

main{
    height: 100vh;
    width: 348.8px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantalla{
    height: 30%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}
.pantalla .inputs{
    height: 60%;
    width: 100%;
    border: 1px solid black;
}
.pantalla .result{
    height: 40%;
    width: 100%;
    border: 1px solid black;
}

.buttons{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons .column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black ;
    background-color: cadetblue;
}

.button{
    border: 1px solid black;
    display: flex;
    max-width: 87.1px;
    max-height: 87.1px;
    min-width: 87.1px;
    min-height: 87.1px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}